<%= link_to conversation_path(conversation), method: :get do %>
  <div class="card mx-auto mb-2 shadow-sm p-3 bg-white rounded" style="width: 100%;">
      <div class="card-body">
          <h2 class="card-title"><%= conversation.title %></h2>
          <h4 class="card-subtitle"><%= conversation.topic.name %></h4>
          <p class="hint"><%= conversation.timestamp %></p>
          <p><%= conversation.description %></p>
          <% message_count = conversation.messages.count %>
          <p><%= "#{message_count.to_s} #{message_count > 1  || message_count == 0 ? 'comments' : 'comment'}" %></p>
      </div>
  </div>
<% end %>
