<%= link_to conversation_path(conversation), method: :get do %>
  <div class="card mx-auto mb-2 shadow-sm p-3 bg-white rounded" style="width: 100%;">
      <div class="card-body text-left">
          <btn class="btn btn-dark left"><%= conversation.topic.name %></btn>
          <h2 class="card-title"><%= conversation.title %></h2>
          <p class="hint"><%= gravatar_for(conversation.user, {class: 'gravatar-img'}) %> <%= conversation.user.name %> <%= conversation.timestamp %></p>
          <a href="<%= conversation.url %>" target="_blank">URL</a>
          <p><%= conversation.description %></p>
          <% message_count = conversation.messages.count %>
          <p><% User.where(id: conversation.messages.group(:id, :user_id).last(5).pluck(:user_id)).each do |user| %>
          	<%= gravatar_for(user, {size: 25, class: 'message-gravatar'}).html_safe %><% end %> <%= "#{message_count.to_s} #{message_count > 1  || message_count == 0 ? 'comments' : 'comment'}" %></p>
      </div>
  </div>
<% end %>
