$("#topic-filters").html('<%= j render partial: "topic_filters" %>');
<% if params[:topic_id].present? %>
	<% if @conversations.count > 0 %>
		$('#conversations-feed').html('<%= j render @conversations %>');
	<% else %>
		$('#conversations-feed').html('<h5>You\'ve unselected all topics. Hit "All" or choose a topic to see conversations.</h5>');
	<% end %>
	$('#conversations-feed').data('page', <%= 0 %>);
	moment($('.conversation-timestamp').text).fromNow();
<% elsif @conversations.count > 0 && params[:conversation_page].present? %>
	$('#conversations-feed').data('page', <%= params[:conversation_page] %>);
    $('#conversations-feed').append('<%= j render @conversations %>');
<% else %>
    $(window).off('scroll');
<% end %>
