<div class="usermodal">
	<h1>Breakroom</h1>
	<br/>
	<div class="container">
		<div class="btn-group btn-group-justified">
			<% if @page > 0 %>
				<%= link_to "&larr; ".html_safe, conversations_path(page: @page - 1), class: 'mr-2' %>
			<% end %>
			<div class="conversationButtons" id='topic-filters'>
				<%= render 'topic_filters' %>
			</div>
			<% if @display_next %>
				<%= link_to "&rarr;".html_safe, conversations_path(page: @page + 1), class: 'ml-2' %>
			<% end %>
			<%= button_to '+', new_topic_path, remote: true, method: :get, class: 'btn btn-success btn-block ml-2' %>
		</div>
	</div>

	<%= button_to 'Add Conversation', new_conversation_path, remote: true, method: :get, class: 'btn btn-primary btn-block mb-3' %>
</div>

<div class='conversation-cards overflow-auto' id='conversations-feed'>
	<%= render @conversations %>
</div>

<div id='infinite-scrolling'>
	<%= will_paginate %>
</div>

<div class='modal' id='AddConversationModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
        </div>
    </div>
</div>

<div class='modal' id='AddTopicModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
        </div>
    </div>
</div>
