<div class="usermodal">
	<div class="application-name">
		<h1><%= link_to "Breakroom", root_path %></h1>
	</div>
		<%= link_to "logout", destroy_user_session_path, method: :delete %>
	<br/>
	<div class="container">
		<div class="btn-group btn-group-justified">
			<% if @page > 0 %>
				<%= link_to "&larr; ".html_safe, conversations_path(topics_page: @page - 1), class: 'mr-2' %>
			<% end %>
			<div class="conversationButtons" id='topic-filters'>
				<%= render 'topic_filters' %>
			</div>
			<% if @display_next %>
				<%= link_to "&rarr;".html_safe, conversations_path(topics_page: @page + 1), class: 'ml-2' %>
			<% end %>
			<%= button_to '+', new_topic_path, remote: true, method: :get, class: 'btn btn-success btn-block ml-2' %>
		</div>
	</div>
</div>
<div class='new-conversation-btn-box'>
	<%= button_to 'Add Conversation', new_conversation_path, remote: true, method: :get, class: 'btn btn-primary mb-3 new-conversation-btn' %>
</div>

<div class='conversation-cards overflow-auto' data-page="<%= @conversations_page %>" id='conversations-feed'>
	<% if  @conversations.count > 0 %>
	    <%= render @conversations %>
	<% else %>
	   <h5>You've unselected all topics. Hit "All" or choose a topic to see conversations.</h5>
	<% end %>
</div>

<div id='infinite-scrolling'></div>

<div class='modal' id='AddConversationModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
        </div>
    </div>
</div>

<div class='modal' id='AddTopicModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
        </div>
    </div>
</div>
