<div id='flash'></div>
<%= form_for @topic, html: {remote: true} do |f| %>
    <%= f.hidden_field :organization_id, :value => current_user.organization_id %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <span><%= f.submit "Add!", class: 'btn btn-primary', remote: true %></span>
    <button type='button' class='btn' data-dismiss='modal' aria-hidden='true'>Cancel</button>
<% end %>
