<%= form_for @topic do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: 'form-control', id: "topic_title" %>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, autofocus: true, class: 'form-control', id: "topic_description" %>
    </div>
    <%= f.collection_check_boxes(:theme_ids, Theme.all, :id, :name) do |b| %>
        <div class="form-group">
            <%= b.check_box(class: "check_box") %> <%= b.object.name %>
        </div>
    <% end %>

    <span><%= f.submit "Add!", class: 'btn btn-primary' %></span>
    <button type='button' class='btn' data-dismiss='modal' aria-hidden='true'>Cancel</button>
<% end %>
