<header>
    <div class="channelInfo">
        <h1 class="assignChannel"><%= @topic.title %></h1>&nbsp;~&nbsp;
        <h3><%= @topic.description %></h3>
    </div>
    <% if current_user.is_admin? %>
        <h4>Admin Tools: <%= link_to "Delete channel", topic_path(@topic.id), 'data-method' => :delete, :class => "delete", :confirm => "Are you sure ?", id: "delete-topic"%>
         <%= link_to "Edit channel",   edit_topic_path(@topic.id), :confirm => "Are you sure ?"%></h4>
    <% end %>

</header>
<div id="messages" data-topics-id="<%= @topic.id %>">
    <%= render @topic.messages %>
</div>

<div class="chatinput">
    <%= form_for @message, url: '#', id: 'formSubmit' do |f| %>
        <%= hidden_field_tag 'topic_id', @topic.id %>
        <div>
            <%= f.text_field :body, class: 'form-control', placeholder: 'Type your message...' %>
        </div>
    <% end %>
</div>
