<!DOCTYPE html>
<html>
  <head>
      <title>Breakroom</title>
      <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
        <div class="flexbox">
            <div class="page-content">
                <%= yield %>
                <div class="popup">
                    <%= render 'layouts/flash' %>
                </div>
            </div>
        </div>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
    </body>
</html>
